.main_padding {
  padding-top: 100px;
}
.light_black_color{
  color: #b9b9b9;
}
.bg_header_color {
  background-color: #0a223c;
}
.bg_black {
  background-color: black;
}
.header_btn {
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 32.5px;
  line-height: 60px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: 0.5s;
}
.header_btn:hover {
  background-color: #2e303d;
  border: 1px solid #2e303d;
}
.main_container {
  padding-left: 64px;
  padding-right: 64px;
  max-width: 100%;
  width: 100%;
}
.fix_header {
  z-index: 100;
}
.header_list {
  list-style: none;
}
.header_li {
  padding: 0px 10px;
}
.header_li a {
  text-decoration: none;
}
.header_list > .header_li > a::after {
  position: absolute;
  content: "";
  top: -11%;
  left: -11%;
  width: 120px;
  height: 60px;
  background-image: url(../src/images/menu-hover-shape.webp);
  transition: 0.5s;
  opacity: 0;
}
.header_list > .header_li > a:hover::after {
  transform: translate(-5%, -5%) scale(1);
  visibility: visible;
  opacity: 1;
}
