.font_family_cromorant {
  font-family: "Cormorant Garamond", serif;
}
.font_family_montserrat {
  font-family: "Montserrat", sans-serif;
}
.font_weight_600 {
  font-weight: 600;
}
.text_font_22px {
  font-size: 22px;
}
.text_font_85px {
  font-size: 85px;
}
.icon_font_16px{
  font-size: 16px;
}
